@import "../../styles/global.scss";

form {
	display: flex;
	flex-direction: column;
	gap: 28px;

	label {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		margin-bottom: 8px;
		display: inline-block;
	}

	input {
		border: 1px solid $dark-grayish-violet;
		border-radius: 8px;
		padding: 12px;
		position: relative;

		&::placeholder {
			color: $dark-grayish-violet;
			opacity: 0.6;
		}

		&:focus {
			border: 2px solid transparent;
			border-radius: 8px;
			background: linear-gradient(white, white) padding-box,
				linear-gradient(45deg, $input-border-gradient) border-box;
			outline: none;
		}
	}

	.cardholder-name {
		display: flex;
		flex-direction: column;
	}

	.card-number {
		display: flex;
		flex-direction: column;
	}

	.date-cvc-wrapper {
		display: flex;
		gap: 16px;

		.expire-date {
			width: 50%;

			.inputs-wrapper {
				display: flex;
				gap: 8px;

				input {
					width: 80px;

					&::placeholder {
						text-transform: uppercase;
					}
				}
			}
		}

		.cvc {
			input {
				width: 100%;
			}
		}
	}
}

@media (min-width: 376px) {
	form {
		width: 375px;
	}
}
