@import "../../styles/global.scss";

main {
	.card-back-wrapper {
		position: absolute;
		width: 280px;
		top: 28px;
		right: 20px;

		.cvc-number {
			position: absolute;
			top: 70px;
			right: 35px;
			color: $white;
			font-size: 10px;
		}
	}

	.card-front-wrapper {
		position: absolute;
		width: 280px;
		top: 115px;
		left: 20px;

		.content {
			padding: 20px;
			position: absolute;
			inset: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.card-logo {
				width: 55px;
			}

			.card-information {
				display: flex;
				flex-direction: column;
				gap: 12px;
				color: $light-grayish-violet;

				.card-number {
					letter-spacing: 2px;
				}

				.name-date-wrapper {
					display: flex;
					justify-content: space-between;
					font-size: 10px;

					.name {
						text-transform: uppercase;
					}

					.date {
						letter-spacing: 1px;
					}
				}
			}
		}
	}
}

@media (min-width: 376px) {
	main {
		.card-back-wrapper {
			width: 450px;
			top: 500px;
			left: 230px;

			.cvc-number {
				font-size: 18px;
				top: 108px;
				right: 60px;
			}
		}

		.card-front-wrapper {
			width: 450px;
			top: 210px;
			left: 140px;

			.content {
				padding: 24px;

				.card-logo {
					width: 90px;
				}

				.card-information {
					gap: 24px;

					.card-number {
						font-size: 28px;
					}

					.name-date-wrapper {
						font-size: 14px;
					}
				}
			}
		}
	}
}
